<div class="promoHeader uitext">
    <div class="promoHeader__promoHeaderNav">
        <div class="promoHeader__promoMastheadContentContainer">
            <div id="navBar">
                <div id="logo">
                    <a href="/">
                        <img alt="Goodreads: Book reviews, recommendations, and discussion"
                            src="https://s.gr-assets.com/assets/home/header_logo-8d96d7078a3d63f9f31d92282fd67cf4.png">
                    </a>
                </div>
            </div>
            <div class="promoHeader__promoMastheadContent">
                <div id="newAccountBox">
                    <h2> Discover & read more </h2>
                    <div>
                        <div id="signInUsingContent">
                            <a class="gr-button gr-button--amazon gr-button--fullWidth gr-button--auth" style="margin-bottom: 14px" href="/"><i class="gr-button--amazon__icon"></i>
                              <i class="fa fa-amazon"></i>
                               &nbsp;Continue with Amazon
                            </a>
                            <a class="gr-button gr-button--apple gr-button--fullWidth gr-button--auth" style="margin-bottom: 14px" href="/"><i class="gr-button--apple__icon"></i>
                                <i class="fa fa-apple"></i>
                                &nbsp;Continue with Apple
                            </a>
                            <a class="gr-button gr-button--fullWidth gr-button--auth gr-button--dark" href="/">Sign up with email</a>
                        </div>
                    </div>
                    <div id="legal">
                        <div class="legalMessage">
                            By creating an account, you agree to the Goodreads
                            <a target="_blank" class="gr-hyperlink" rel="noopener noreferrer" href="/about/terms">Terms of Service</a>          
                            and
                            <a target="_blank" class="gr-hyperlink" rel="noopener noreferrer" href="/about/privacy">Privacy Policy</a>
                            .
                        </div>
                    </div>
                    <div id="signIn">
                        
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>